body {
	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

h2 {
	color: white;
}

.container {
	max-width: 800px;
}

.header {
	margin-top: 6rem;
	text-align: center;
}

.value-prop {
	margin-top: 1rem;
}

.value-props {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.value-img {
	display: block;
	text-align: center;
	margin: 2.5rem auto 0;
	font-size: 8rem;
	margin-bottom: 1rem;
}

.buttons {
	text-align: center;
}

.separator {
	display: inline;
	margin: 0 12px;
}

.button {
	color: white;
	border-color: white;
}

.button:hover {
	color: black;
	border-color: black;
}

.stats {
	border-top: 1px solid #eee;
	padding-top: 5rem;
	margin-bottom: 5rem;
}

.stats .columns {
	text-align: center;
}

.stats h2 {
	display: inline;
	font-weight: 600;
	color: black;
}

.install {
	text-align: center;
	font-size: 12px;
	color: black;
	margin-bottom: 5rem;
}

.install a {
	color: black;
}

@media (min-width: 550px) {
	.header {
		margin-top: 6rem;
	}
	.value-props {
		margin-top: 4rem;
		margin-bottom: 7rem;
	}
	.value-img {
		margin-bottom: 1rem;
	}
}