body {
	background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

h2 {
	color: white;
}

.container {
	max-width: 800px;
}

.header {
	margin-top: 6rem;
	text-align: center;
}

.value-prop {
	margin-top: 1rem;
}

.value-props {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.value-img {
	display: block;
	text-align: center;
	margin: 2.5rem auto 0;
	font-size: 8rem;
	margin-bottom: 1rem;
}

.buttons {
	text-align: center;
}

.separator {
	display: inline;
	margin: 0 12px;
}

.button {
	color: white;
	border-color: white;
}

.button:hover {
	color: black;
	border-color: black;
}

.stats {
	border-top: 1px solid #eee;
	padding-top: 5rem;
	margin-bottom: 5rem;
}

.stats .columns {
	text-align: center;
}

.stats h2 {
	display: inline;
	font-weight: 600;
	color: black;
}

.install {
	text-align: center;
	font-size: 12px;
	color: black;
	margin-bottom: 5rem;
}

.install a {
	color: black;
}

.blocker {
	background: none;
}

.modal {
	-webkit-box-shadow: 0 0 10px white;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px white;
}

.modal .title {
	border-bottom: 1px solid #a6c1ee;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

ul {
	display: block;
}

.btn {
	padding: 12px 20px;
	margin: 0;
	vertical-align: middle;
	/*border: solid 1px #ccc;*/

	font-size: 3rem;
	border-radius: 4px;
	cursor: pointer;
}

.btn-switcher {
	/*background: linear-gradient(to bottom, white, #eeeeee);*/
	display: table-cell;
	border-right: none;
	border-radius: 0;
	color: #433f33;
	border-radius: 4px;
}

.btn-switcher:first-child {
	/*border-radius: 4px 0 0 4px;*/
}

.btn-switcher:last-child {
	/*border-radius: 0 4px 4px 0;*/
	/*border-right: solid 1px #ccc;*/
}

.btn-switcher:hover {
	background: #fff;
}

.btn-switcher:active {
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.btn-switcher.selected {
	background: #a6c1ee;
	color: white;
	box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	cursor: default;
}

.round,
.bet {
	line-height: 7rem;
	text-align: right;
}

.bet,
#willBet {
	line-height: 5rem;
}

.modal input {
	font-size: 2rem;
    height: 5rem;
    width: 210px;
}

.modal .button {
	margin: 2rem 0;
	border-color: black;
	color: black;
	background-color: white;
}

.modal .button:hover {
	border-color: #a6c1ee;
	color: #a6c1ee;
	background-color: white;
}

#create,
#join,
#ledger,
#address {
	display: none;
}

#join {
	max-width: 650px;
}

.win,
.lose,
.tie {
	text-transform: capitalize;
	font-weight: 600;
}

.win {
	color: green;
}

.lose {
	color: red;
}

.tie {
	color: black;
}

@media (min-width: 550px) {
	.header {
		margin-top: 6rem;
	}
	.value-props {
		margin-top: 4rem;
		margin-bottom: 7rem;
	}
	.value-img {
		margin-bottom: 1rem;
	}
}